$emobiq-brand: #ec5428;
$emobiq-brand-light: #fff0ea;
$white: #ffffff;
$black: #000000;
$light-gray: #ededed;
$medium-dark-gray: #aaaaaa;
$granite-gray: #666666;
$anti-flash-white: #f0f0f0;
$dark-gray: #363636;
$philippine-gray: #919191;
$platinum: #e3e3e3;
$dark-platinum: #e4e4e4;
$american-silver: #cecece;
$dark-silver: #707070;
$philippine-silver: #b1b1b1;
$silver-sand: #c6c6c6;
$light-silver: #868686;
$metallic-brown: #a53a0f;
$mahogany: #c43700;
$gainsboro: #dddddd;
$silver-foil: #afafaf;
$bright-gray: #eeeeee;
$spanish-gray: #999999;
$floral-white: #fff7f4;
$vivid-tangerine: #f4af91;
$cultured: #f5f5f5;
$ghost-white: #f9f9f9;
$chinese-silver: #cccccc;
$oslo-gray: #8d8d8d;
$quartz: #4a4a4a;
$carbon-grey: #5f5f5f;
$ceil: #9a9ca0;
$tart-orange: #ff4848;
$dark-charcoal: #333333;
$chinese-white: #e0e0e0;
$argent: #c1c1c1;
$roman-silver: #828A9180;
$eerie-black: #16181B;
$davy-gray: #535353;
$misty-rose: #ffe7de;
$deep-peach: #ffc0a7;
$international-orange-aerospace: #ff4a00;
$tea-green: #c3e6cb;
$car-polo-pomona-green: #155724;
$pale-pink: #f8d7da;
$orchid-pink: #f5c6cb;
$persian-plum: #721c24;
$azure: #007bff;
$absolute-zero: #0056b3;